---
- name: Install MariaDB on RedHat Systems
  when: ansible_os_family == 'RedHat'
  ansible.builtin.dnf:
    name:
      - mariadb-server
      - mariadb
      - python3-PyMySQL

- name: Install MariaDB on Debian Systems
  when: ansible_os_family == 'Debian'
  ansible.builtin.apt:
    name:
      - mariadb-server
      - mariadb-client
      - python3-pymysql

- name: Create systemd configuration directory
  ansible.builtin.file:
    path: /etc/systemd/system/mariadb.service.d/
    state: directory
    mode: "0755"

- name: Limit number of open files
  notify: Restart MariaDB
  ansible.builtin.copy:
    content: |
      [Service]
      LimitNOFILE=32559
    dest: /etc/systemd/system/mariadb.service.d/limits.conf
    mode: "0644"
  register: reload_systemd_daemon

- name: Reload systemd daemon  # noqa no-handler
  when: reload_systemd_daemon is changed
  ansible.builtin.systemd:
    daemon_reload: true

- name: Configure mariadb
  notify: Restart MariaDB
  ansible.builtin.ini_file:
    dest: "{{ '/etc/mysql/mariadb.conf.d/50-server.cnf' if ansible_os_family == 'Debian' else '/etc/my.cnf.d/opencast.cnf' }}"
    section: mysqld
    option: "{{ item.key }}"
    value: "{{ item.value }}"
    owner: root
    group: root
    mode: "0644"
    state: present
  loop:
    - key: max_connections
      value: "{{ opencast_mariadb_max_connections }}"
    - key: innodb_buffer_pool_size
      value: "{{ opencast_mariadb_innodb_buffer_pool_size }}"
    - key: character_set_server
      value: utf8mb4
    - key: bind-address
      value: "*"

- name: Start MariaDB
  ansible.builtin.systemd:
    name: mariadb
    state: started
    enabled: true

- name: Start MariaDB
  ansible.builtin.wait_for:
    path: /var/lib/mysql/mysql.sock
    delay: 1

- name: Set MariaDB root user password (RedHat)
  when: ansible_os_family == 'RedHat'
  community.mysql.mysql_user:
    name: "{{ database_root_user }}"
    password: "{{ database_root_password }}"
    login_user: "{{ database_root_user }}"
    login_password: "{{ database_root_password }}"
    check_implicit_admin: true
    login_unix_socket: /var/lib/mysql/mysql.sock

- name: Set MariaDB root user password (Debian)
  when: ansible_os_family == 'Debian'
  community.mysql.mysql_user:
    name: "{{ database_root_user }}"
    password: "{{ database_root_password }}"
    login_user: "{{ database_root_user }}"
    login_password: "{{ database_root_password }}"
    check_implicit_admin: true
    login_unix_socket: /run/mysqld/mysqld.sock

- name: Create Opencast database user
  community.mysql.mysql_user:
    name: "{{ database_user_name }}"
    password: "{{ database_password }}"
    host: "%"
    priv: "{{ database_name }}.*:ALL,GRANT"
    login_user: "{{ database_root_user }}"
    login_password: "{{ database_root_password }}"

- name: Create Opencast database
  community.mysql.mysql_db:
    name: "{{ database_name }}"
    encoding: utf8mb4
    state: present
    login_user: "{{ database_root_user }}"
    login_password: "{{ database_root_password }}"

## configuration steps to mimic what 'mysql_secure_installation' does:

- name: Delete anonymous user
  community.mysql.mysql_user:
    user: ""
    host: "{{ item }}"
    state: absent
    login_user: "{{ database_root_user }}"
    login_password: "{{ database_root_password }}"
  loop:
    - "localhost"
    - "{{ ansible_fqdn }}"
  no_log: true

- name: Ensure root user can only connect from the local machine
  community.mysql.mysql_user:
    user: "{{ database_root_user }}"
    password: "{{ database_root_password }}"
    host: "{{ item }}"
    login_user: "{{ database_root_user }}"
    login_password: "{{ database_root_password }}"
  loop:
    - "::1"
    - "localhost"
    - "{{ ansible_fqdn }}"
  no_log: true
